@using Insurance.Utilities
@model IEnumerable<Insurance.ViewModels.AllCommonViewModel.SiteSettingViewModel>
@inject IUtility _utility

@{
    Layout = "/Views/Shared/_SideBar.cshtml";
    ViewData["Title"] = "Project Setup";
    int i = 1;
}
@if (!Model.Any())
{
    <a class="btn btn-sm btn-outline-primary" asp-action="CreateSiteSetting">
        <i class="bi bi-plus-circle-fill"></i> Add New
    </a>
}

<div class="card card-form">
    <div class="card-body p-4">
        <div class="table-responsive">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MobileNumber)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Website)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @_utility.English_Nepali(i.ToString())

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Website)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <a class="text-primary" asp-action="CreateSiteSetting" asp-route-id="@item.Id"><i class="dw dw-edit2"></i>Edit</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<partial name="_AddDatatable">
