@using Insurance.Areas.Admins.ViewModels
@model IEnumerable<PrayogKartaViewModel>
@inject IUtility _utility;

@{
    ViewData["Title"] = "User Management";
    int i = 1;
}

<a asp-controller="PrayogKarta" asp-action="Create" class="btn btn-sm btn-outline-primary"><i class="bi bi-plus-circle-fill"></i>&nbsp;Add New User</a>
<div class="table-responsive">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>S.N</th>
                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.PrayogkartaName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(model => model.HasLogged)</th>
                <th>@Html.DisplayNameFor(model => model.Role)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.PrayogkartaName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        @if (item.HasLogged == true)
                        {
                            <span title="Last logged - @item.LastLogged"><i class="bi bi-person-check text-primary"></i></span>
                        }
                        else
                        {
                            <span title="Not logged In"><i class="bi bi-person-exclamation text-red"></i></span>
                        }
                    </td>
                    <td>@item.Role</td>
                    <td>
                        <div class="d-inline">

                            <a href="#" title="Reset Password" onclick="ResetPassword(this, '@item.Id', '@item.FullName')"><i class="fa fa-unlock-alt"></i></a> |
                            @* <form asp-action="ResetPass" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Id" title="Reset Password"><i class="fa fa-unlock-alt"></i></form> | *@
                            <a asp-action="Create" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a> |
                            <form asp-action="DeleteConfirm" asp-route-id="@item.Id" data-ajax="true" data-ajax-method="post" data-ajax-confirm="Are you sure?" data-ajax-complete="deletePage" class="d-inline">
                                <button type="submit" class="btn btn-link p-0"> <i class="bi bi-trash text-red"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
<p>जम्मा संख्या  @_utility.English_Nepali(Model.Count().ToString()).</p>

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script>
        function ResetPassword(a, id, name) {
            $.confirm({
                title: 'Change Password?',
                content: `के तपाई सिउर हुनुहुन्छ:- ${name}`,
                autoClose: 'cancelAction|8000',
                buttons: {
                    resetPassword: {
                        text: 'Change',
                        btnClass: 'btn-green',
                        action: function () {
                            $.ajax({
                                url: '@Url.Action("ResetPass")',
                                type: 'get',
                                data: { id: id },
                                success: function (result) {
                                    if (result === true) {
                                        $.alert('Your New Password - NewPass@123');
                                    } else {
                                        $.alert('Try Again!');
                                    }
                                },
                                error: function () {
                                    $.alert('error in calling ajax !!');
                                }
                            });
                        }
                    },
                    cancelAction: function () {
                    }
                }
            });
        }
    </script>
}

<partial name="_AddDatatable">